* {
      margin: 0;
      padding: 0;
    }

    .nav {
      background: #232323;
      height: 60px;
      display: flex;
      width: 100%;
    }

    .item {

        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap:wrap;
    }

    .nav li {
      float: left;
      list-style-type: none;
      position: relative;
    }

    .nav li a {
      font-size: 16px;
      color: white;
      display: block;
      line-height: 60px;
      padding: 0 26px;
      text-decoration: none;
      border-left: 1px solid #2e2e2e;
      font-family: Montserrat, sans-serif;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    .nav li a:hover {
      background-color: #2e2e2e;
    }

    /* #bbc a {
  display:inline;
    width:40px;
    padding: 18px;
    height: auto;
    font-size: 16px;
    line-height: 14px;
} */
    img {
      display: inline;
      width: 70px;
       height: 50%;
      overflow:hidden;
       margin-top: 15px;
      margin-left: 50px;
    }

    #search {
      width: 357px;
      margin: 4px;
    }

    #search_text {
      width: 297px;
      padding: 15px 0 15px 20px;
      font-size: 1em;
      font-family: Montserrat, sans-serif;
      border: 0 none;
      height: 52px;
      margin-right: 0;
      color: white;
      outline: none;
      background: #1f7f5c;
      float: left;
      box-sizing: border-box;
      transition: all 0.15s;
    }

    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: white;
    }

    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: white;
    }

    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: white;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: white;
    }

    #search_text:focus {
      background: rgb(64, 151, 119);
    }

    #search_button {
      border: 0 none;
      background: #1f7f5c url(search.png) center no-repeat;
      width: 60px;
      float: left;
      padding: 0;
      text-align: center;
      height: 52px;
      cursor: pointer;
    }

    #more a {
      border-left: 0 none;
    }

    #options&gt;

    a {
      background-image: url(triangle.png);
      background-position: 85% center;
      background-repeat: no-repeat;
      padding-right: 42px;
    }

    .subnav {
      visibility: hidden;
      position: absolute;
      top: 110%;
      right: 0;
      width: 200px;
      height: auto;
      opacity: 0;
      transition: all 0.1s;
      background: #232323;
    }

    .subnav li {
      float: none;
    }

    .subnav li a {
      border-bottom: 1px solid #2e2e2e;
    }

    #more:hover .subnav {
      visibility: visible;
      top: 100%;
      opacity: 1;
    }


/* .welcome-date{
   margin:5% -32%% 0 5%;
   display:flex;
   flex-direction :row;
   flex-wrap:wrap;
   width:100%;
   justify-content:space-between;

}

.welcome-message{
 font-size:1.5rem;
font-family:cursive;
}

#date{
  fornt-size:1.5rem;
  font-family:cursive;
} */
.main-content
{
  margin-top: 50px;
}

.message  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:5px;
  margin-left:40px;
  margin-right:20px;
  margin-bottom: 40px;
}

/* #headline{

  /* background-image: url(https://ichef.bbc.co.uk/wwhp/144/cpsprodpb/5C13/production/_115217532_023e6bfc-f137-4270-bdf1-64bcb50e4f35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10px;
  padding : 10px; */
  /* width: 400px;
  height: auto;
  margin-left: 20px;
  margin-right:20px; */
  /* border: 1px solid black;
  margin-bottom: 1em;
  padding : 10px;*/
}
.headline{
  /* top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;  */
  position:absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.main-headers{
  display: grid;
  grid-column: 1;
  margin-left:20px;
  margin-right:20px;
}

.stories {
  display:grid;
  grid-column: 2;
  margin-left:20px;
  margin-right:20px;
}
.first-container {
  position:relative;
  display:grid;
  grid-auto-rows:50px;
  margin-left: 20px;
  margin-right:20px
}
/* .first-container >  .main_image{*/


.second-container{
  position:relative;
  display:grid;
   /* grid-template-columns:( repeat(2,1fr);  */
    grid-template-columns: 50% 50%;
  justify-items: last baseline;
  margin-left: 5px;
  margin-right:5px;
}

/* .story-one{
position: absolute;
bottom: 20px;
left: 20px;
color: white;
padding-left: 20px;
padding-right: 20px;
}  */
.main_image{
  /* display:grid;
  grid-auto-rows:50px; */
  width:670px;
  height:370px;
/*  margin-left: 20px;
  margin-right: 20px; */
/* padding-bottom:20px; */
   top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    visibility: visible;
    background: transparent;
    /* background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
} */
}
.media_img{
width:300px;
height:150px;
margin-left: 5px;
margin-right: 20px;
}
.media__link{
    text-decoration: none;
  }
.media_image{
  margin-top:60px;
  width:450px;
  height:200px;
  margin-left:5px;
  margin-right:20px;
}
#news-header{
  margin-top: 35px;
  margin-left:25px;
  /* margin-bottom:20px; */
}
.news-articles{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  height:auto;
  /* margin-left: 20px;
  margin-right; */

}
.media__link {
  display: block;
  color: black;
}

	@media only screen and (min-width: 500px)  {
    @media screen and (max-width: 575px) {
   .news-aricles {
     flex-direction: column;
   }
 }
}
